/* main elements */

body .no-outline {
    border: 0px;
    outline: 0px;
    background: none;
}

#main-container {
    margin-top: 0px;
    padding-top: 30px;
}


/* general */

.pointer {
    cursor: pointer;
}

.break-word,
tr.break-word td {
    word-break: break-all;
}

.badge.tag {
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    color: #5d5d5d;
    background: #ececec;
}

.tagcloud>.badge.tag {
    cursor: pointer;
}

.tagcloud>.badge.tag:hover {
    background: #337ab7;
    color: #fff;
}

.no-underline,
.no-underline:hover,
.no-underline:active,
.no-underline:focus {
    text-decoration: none;
}

.table-auto {
    width: auto;
}

.clear-left,
.clearleft {
    clear: left;
}

#loading-indicator {
    width: 250px;
    margin: auto;
    font-weight: 300;
    font-size: 18px;
}


/* navbar */

.navbar {
    min-height: 22px;
    height: 22px;
    margin-bottom: 0px;
    background: #4CAF50;
    border-bottom: 0px;
}

.navbar-brand {
    height: 22px;
    padding: 1px 15px;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 14px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* search */

.advanced-search-content {
    padding-bottom: 9px;
}

#search-bar {
    background: #f8f8f8;
    padding: 7px 15px 8px 30px;
    border-bottom: 1px solid #cacaca;
}

h4 a.sm {
    padding: 4px 0 0 12px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar {
    background: #f3f3f3;
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.sidebar ul.sidebar-menu {
    margin: 0 -10px 10px -10px;
}

.sidebar ul.sidebar-menu li {
    padding: 0 10px;
}

.sidebar ul.sidebar-menu li:hover {
    background: #dcdcdc;
}

.sidebar ul.sidebar-menu li.active {
    color: #337ab7;
    font-weight: 700;
}

.sidebar hr {
    margin: 7px -10px;
    border-top-color: #e6e6e6;
}

.sidebar-fixed {
    position: fixed;
    top: 30px;
    bottom: 0px;
    background: #eaeaea;
    border-right: 1px solid #e9e9e9;
    box-shadow: inset -6px 0px 10px -6px rgba(0, 0, 0, 0.13);
    border-right: 1px solid #dedede;
    z-index: 3100;
}

#search-container {
    overflow: auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.26);
    z-index: 3000;
}

.form-inline.advanced-filter {
    position: relative;
    border-bottom: 1px solid #c5c5c5;
    padding: 12px 3px;
}

.advanced-filter.first {
    border-top: 1px solid #c5c5c5;
}

.coord-input {
    float: left;
    width: 115px;
    padding-right: 3px;
}

.coord-input label {
    margin-bottom: 0px;
}

.coord-input input {
    max-width: 100%;
}

.map {
    border: 2px solid #a2a2a2;
    margin-bottom: 0px;
    max-width: 512px;
}

.button-slide-up {
    display: block;
    width: 53px;
    margin: auto;
    border: #eae9e9 1px solid;
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    border-bottom: 0px;
    cursor: pointer;
}


/* records */

tr.record-table td {
    min-width: 100px;
}

.record-info {
    padding-right: 120px;
}

.record-thumbnail {
    min-width: 1px;
}

.add-remove-buttons {
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -10px;
}

.add-remove-buttons a {
    color: #333;
}

label.highlight {
    color: #337ab7;
    font-weight: 400;
    font-style: italic;
    padding: 1px 0px;
}

.map-thumbnail {
    width: 250px;
    height: 125px;
}


/* sidebar */

body .sidebar-fixed li .badge {
    background: #f3f3f3;
    font-weight: 400;
    padding: 2px 8px;
    color: #868686;
    font-size: 11px;
    float: right;
    margin-top: 2px;
}

a.left-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 11px;
    padding: 17px 1px;
    top: 50%;
    margin-top: -25px;
    left: 0px;
    border: #dcdcdc 1px solid;
    border-left: 0px;
    background: #e4e4e4;
}

a.bottom-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 11px;
    padding: 0px 17px;
    left: 50%;
    margin-left: -25px;
    bottom: 0px;
    border: #dcdcdc 1px solid;
    border-bottom: 0px;
    background: #e4e4e4;
    line-height: 22px;
}

a.left-toggle:hover,
a.bottom-toggle:hover {
    color: #777;
    background: #e0e0e0;
}


/* text formatting */

body ul.list-unstyled.lined li {
    margin-top: 3px;
    padding-bottom: 3px;
    border-bottom: #ececec 1px solid;
}

body ul.list-unstyled.lined li a {
    color: #333;
}

body .link {
    color: #337ab7;
    cursor: pointer;
}

body .link:hover {
    text-decoration: underline;
}

body .refine-clear {
    font-size: 12px;
    font-weight: 400;
    margin-left: 7px;
}