<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Naval Research Laboratory Geospatial Computing Section">
    <meta name="author" content="Naval Research Laboratory Geospatial Computing Section">
    <link rel="icon" href="favicon.ico">
    <title>CSW Client</title>

    <!-- Bootstrap core CSS -->
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="libs/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <link href="libs/extent/css/extenty.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- open layers -->
    <link rel="stylesheet" type="text/css" href="libs/openlayers/ol.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="nrlCatalog" ng-controller="mainController">
    <header class="navbar navbar-static-top navbar-inverse navbar-compact" style="background: #f8f8f8; height: 2000px;" ng-style="{'height':'22px', 'background':'#4CAF50'}">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand pointer" ng-click="loadWelcome()">
                    CSW Client
                </div>
            </div>
        </div>
    </header>

    <div id="nrl-catalog">

        <div class="container-fluid" id="search-container">
            <div class="row">
                <div id="search-bar" class="col-sm-12">
                    <a href="#" ng-click="minimizeAdvanced = !minimizeAdvanced" class="bottom-toggle" ng-show="showAdvancedSearch">
                        <span class="glyphicon glyphicon-chevron-up" ng-hide="minimizeAdvanced"></span>
                        <span class="glyphicon glyphicon-chevron-down" ng-show="minimizeAdvanced"></span>
                    </a>

                    <basic-search></basic-search>

                    <advanced-search></advanced-search>

                </div>
            </div>
        </div>
        <div class="container content" id="main-container">

            <!-- Welcome Message -->
            <welcome></welcome>

            <!-- Loading notification -->
            <div ng-show="loadingData" class="text-center ng-cloak" id="loading-indicator">
                <p>Loading..</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width:100%"></div>
                </div>
            </div>

            <!-- Error Message -->
            <div ng-if="hasError" class="ng-cloak">
                <h2>There was an error with your request</h2>
                <div class="alert alert-danger ng-cloak">{{errorMessage}}</div>
            </div>

            <!-- Sort Options -->
            <div ng-show="hasData">
                <p>
                    <select ng-options="item as item.label for item in searches[curSearch].sortOptions" ng-model="searches[curSearch].sortOption"
                        ng-change="getFirstPage()"></select>
                    <span style="display: inline-block; margin-left: 18px;"><b>{{pages.totalRecords | number}}</b> records found</span>
                </p>
            </div>

            <!--Main Data-->
            <div ng-show="hasData" class="row">
                <sidebar-template></sidebar-template>
                <div class="col-sm-10">
                    <article ng-repeat="record in curRecords" record-template index="{{$index}}" class="record"></article>
                </div>
            </div>

            <!-- No records found message -->
            <div ng-if="!hasData && !hasError && !startScreen && !loadingData" class="ng-cloak row">
                <sidebar-template></sidebar-template>
                <div class="col-sm-10">
                    <h2>No records found for those parameters.</h2>
                </div>
            </div>

            <!-- Pagination -->
            <pagination-template></pagination-template>

            <div class="clearfix"></div>
            <hr>

        </div>
    </div>
    <!-- /#nrl-catalog -->

    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/x2js/xml2json.min.js"></script>
    <script src="libs/extent/js/extenty.js"></script>
    <!-- <script src="libs/bootstrap/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="libs/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="libs/openlayers/ol-debug.js"></script>
    <script src="js/catalog-app.js"></script>
    <script src="js/csw-request.js"></script>

</body>
</html>