<div class="extenty pull-right record-thumbnail">
    <div class="extenty-box" ng-style="boxStyle"></div>
</div>

<div class="record-info">
    <h3>{{record.title}}</h3>
    <p>{{record.abstract}}</p>
    <p><span ng-repeat="tag in record.keywords track by $index" class="small badge tag">{{tag}}</span></p>
    <p><a ng-click="viewAll = !viewAll" class="pointer no-underline"><span class="glyphicon" ng-class=" viewAll ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-right' "></span> Details</a>
    <div ng-if="viewAll">
        <table class="table table-striped table-auto">
            <tr ng-if="record.extent[0] != null">
                <td>Extent</td>
                <td>
                    <span ng-repeat="e in record.extent track by $index">{{e}}<span ng-if="$index < 3">, </span></span>
                </td>
            </tr>

            <tr ng-repeat="i in record.info" ng-switch="i[0]" class="break-word record-table">
                <td>{{i[0]}}</td>
                <td ng-switch-when="References">
                        <ul style="margin: 0px; padding-left: 15px;">
                            <li ng-repeat="ref in i[1].split(',')"><a href="{{ref}}">{{ref}}</a></li>
                        </ul>
                </td>
                <td ng-switch-when="Source">
                    <a href="{{i[1]}}">{{i[1]}}</a>
                </td>
                <td ng-switch-default>
                    {{i[1]}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="clearfix"></div>
<hr>