<div class="col-sm-2 sidebar">
    <div class="link" ng-click="refineSearchToggle()">Refine Search</div>
    <hr>
    <h5>Types <span class="refine-clear link" ng-click="clearFilterType('type')" ng-show="hasFilterType('type')">Reset</span></h5>
    <ul class="list-unstyled sidebar-menu">
        <li ng-repeat="t in domain.type.values" ng-click="refineSearch('type', t); " class="pointer" ng-class="{ 'active' : domain.type.curVal == t }">{{t}}</li>
    </ul>
</div>