<div class="row" ng-show="startScreen">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="page-title">CSW Client</h1>
        <hr>
        <p class="lead">
            Search and browse CSW records.
        </p>
        <p>Current CSW endpoint: <a href="{{curUrl}}"><span style="word-break: break-all;">{{curUrl}}</span></a></p>
        <p>Enter search term above to get started, or <b><a href="#" ng-click="viewAllRecords()">view all records</a></b></p>
    </div>
</div>